.ch-container {
    display: flex;
    flex-direction: row;
    max-width: 100vw
}

.character-img{
    margin-right: 2vw;
}

.character-img img{
    width: 19vw;
    height: 19vw;
}
.characters{
    padding-left: 7%;
}

.character-img img:hover{
    transform: scaleX(1.15)scaleY(1.15);
    max-height: 19vw;
    transition: transform 200ms ease-in-out 0s;
}

/* .img-container {

} */