.featured {
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-template-areas: 
    "header2 header2 header2"
    "img img img"
    "header3 button esrb"
    "carousel carousel carousel";
    grid-gap: 10px;
    max-width: 120vw;
    padding: 3rem;
    border-bottom: solid lightgray;
    border-width: 0.0625rem;
    padding-left: 7rem;
}

#header2-s3 {
    grid-area: header2;
}

#img-s3 {
    grid-area: img;
    max-width: 80vw;
}

#header3-s3 {
    grid-area: header3;
    max-width: 50vw;
}

#btn-s3 {
    grid-area: button;
    margin-top: 1.75vw;
    margin-right: 1.5vw;
}

#esrb-s3 {
    grid-area: esrb;
    max-height: 6vw;
    margin-right: 8vw;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 90%;
    grid-area: carousel;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    flex: 0 0 260px;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
}

.card img {
    max-width: 100%;
}

.card h3 {
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
    white-space: normal;
}

.card .quote {
    border-left: 2px solid red;
    margin-top: 10px;
    padding-top: 0px;
    padding-left: 5px;
    font-size: 1rem;
    text-align: left;
}

.carousel-arrow {
    position: absolute;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(218, 218, 218);
    border: none;
    cursor: pointer;
    padding: 1rem;
    outline-offset: -2px;
    opacity: 1;
    pointer-events: none;
    transform: translateZ(0px);
    z-index: 10;
    border-radius: 0.25rem 0px 0px 0.25rem;
    font-size: 3rem;
    transition: transform 0.2s ease-in-out;
}

.carousel-arrow:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.left {
    left: 0;
}

.right {
    right: 0;
}