section.socialmedia-banner {
    background-color: rgb(230, 0, 18);
}

.social-banner {
    margin-right: 8%;
    padding: 2rem 1rem;
    color: rgb(255, 255, 255);
    display: flex;
    gap: 50px; 
    align-items: center; 
    justify-content: flex-end;
}


.social-icon img {
    width: auto; 
    height: 25px; 
    transition: transform 0.2s, border-color 0.2s;
}

.logo {
    justify-content: flex-start; 
    display: flex;
    align-items: center; 
    flex-grow: 0;
    margin-right: auto;
    margin-left: 12%;
}

.logo img {
    width: 200px; 
    height: auto; 
}